


body{
    
    background-color: #4dd2ff;
    font-family: 'Baloo Bhai 2', cursive; 
}


.entry{
    
    display: block;
    margin: auto;
    margin-top: 3%;
    text-align: center;
}
h1{
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bolder;
}
.searchbtn{
    margin-left: 20px;
    background-color: #080705	;
    color: white;
    border: none;
    padding: 11px 30px;
    border-radius: 20px;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 600px;
    font-size: medium;
    cursor: pointer;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1), 0 10px 10px 0 rgba(65, 41, 41, 0.15);

}

#city{

border: none;
height: 45px;
width: 400px;
border-radius: 20px;

box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1), 0 10px 10px 0 rgba(65, 41, 41, 0.15);
}

input:focus{
    
    outline: none;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(65, 41, 41, 0.15);
}

.container{
    display: block;
    margin: auto;
    margin-top: 4%;
    background-color: white;
    width: 120vh;
    height: 60vh;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(65, 41, 41, 0.15);
    border-radius: 20px;
}























/* @import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

/* $border-radius: 20px; */

/*body {
  background-color: whitesmoke;
  font-family: Poiret One;
}

.widget {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  height: 300px;
  width: 600px;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.4), 0 17px 17px 0 rgba(65, 41, 41, 0.25);
}
  .weatherIcon{
    flex: 1 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #FAFAFA;
    font-family: weathericons;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 100px;
    
      padding-top: 30px;
  }
  .temperature{
    flex: 0 0 40%;
    width: 100%;
    font-size: 65px;
    display: flex;
    justify-content: space-around;
  }
  .description{
    flex: 0 60%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    
    
    
   
  }

  .weatherCondition{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 100;
  }
  .place{
    font-size: 15px;
  }


  .weatherInfo{
    flex: 0 0 70%;
    height: 40%;
    background: #080705;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
    
  }   
    
    
  
  .date{
    flex: 0 0 30%;
    height: 40%;
    background: #70C1B3;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
  }


p{
  position: fixed;
  bottom: 0%;
  right: 2%;
  
}
a{
    text-decoration: none;
    color: #E4D6A7;
    font-size: 10px;
  }

  .enrty{
      display: block;
      margin: 50%;
  }
  .searchbtn{

  }
  #city{

  } */


  /* @import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);



body {
  background-color: whitesmoke;
  font-family: Poiret One;
}


.enrty{
    background: #FAFAFA;
}

.widget {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  height: 300px;
  width: 600px;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
} 
.weatherIcon{
    flex: 1 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #FAFAFA;
    font-family: weathericons;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 100px;
}   
    i{
      padding-top: 30px;
    }

  
.weatherInfo{
    flex: 0 0 70%;
    height: 40%;
    background: #080705;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
}   
    .temperature{
      flex: 0 0 40%;
      width: 100%;
      font-size: 65px;
      display: flex;
      justify-content: space-around;
    }
    
    .description{
      flex: 0 60%;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: center;
    } 
    .weatherCondition{
        text-transform: uppercase;
        font-size: 35px;
        font-weight: 100;
    }
      
      .place{
        font-size: 15px;
      }
    
  
  
  .date{
    flex: 0 0 30%;
    height: 40%;
    background: #70C1B3;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
  }


p{
  position: fixed;
  bottom: 0%;
  right: 2%;
}
  a{
    text-decoration: none;
    color: #E4D6A7;
    font-size: 10px;
  } */
